body {
  background-color: rgb(255, 101, 101);
}

#content {
  position: absolute;
  top: 30%;
  right: 25%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  width: 50%;
  height: 200px;
  padding: 20px;
}

button {
  font-size: 18px;
}

button:hover {
  background-color: black;
  color: white;
}